<h3>University name : <%= university.uni_name %> </h3>

<hr>
<h5>university Type : <%= university.uni_type %> </h5>
<h5>university rank : <%= university.uni_rank %> </h5>
<h5>university year of establish : <%= university.year_of_establish %> </h5>
<h5>university courses : <%= university.course %> </h5>
